<div class="a_huge_block">
    <system-interface (onClick)="upCase($event)" ></system-interface>
    <div
      class="div__the_substrate_of_modal_windows"
      [style]="{display:open__modal_menu}"
    >
      <div
        class="div__a_block_for_positioning"
      >
        <div
          class="div__modal_window_for_adding_an_employee"
          [style]="{display:open__modal_menu__staff}"
        > <!-- Модальное окно для добавления сотрудников -->
          <div
            class="div__the_background_of_the_full_NAME_input_field"
          >
            <input placeholder="ФИО сотрудника" [(ngModel)]="string__employees_full_name"/>
          </div>
          <div
            class="div__the_background_of_the_cabinet_number_input_field"
          >
            <input placeholder="Номер кабинета" [(ngModel)]="number__employees_office_number"/>
          </div>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindow('staff')">Отмена</button>
            <button (click)="sendingDataAboutTheCreationofANewEmployee();hidingTheModalWindow('staff')">Добавление</button>
          </div>
        </div>
        <div
          class="div__modal_window_for_adding_equipment"
          [style]="{display:open__modal_menu__technic}"
        > <!-- Модальное окно для добавления техники -->
          <div
            class="div__the_substrate_for_entering_the_name_of_the_equipment"
          >
            <input placeholder="Наименование техники"[(ngModel)]="string__name_equipment"/>
          </div>
          <div
            class="div__the_substrate_for_choosing_the_type_of_equipment"
          >
            <select [(ngModel)]="string__selected_type_equipment">
              <option value="" hidden disabled selected>Тип техники</option>
              @for ( elem of array__types_of_equipment; track $index ) {
                <option value="{{ elem.id }}">{{ elem.type }}</option> 
              }
            </select>
          </div>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindow('technic')">Отмена</button>
            <button (click)="sendingDataAboutAddingEquipment();hidingTheModalWindow('technic')">Добавление</button>
          </div>
        </div>
        <div
          class="div__modal_window_for_adding_types_of_equipment"
          [style]="{display:open__modal_menu__type_of_equipment}"
        > <!-- Модальное окно для добавления типа техники -->
          <div
            class="div__the_substrate_for_entering_the_name_of_the_equipment"
          >
            <input placeholder="Наименование типа техники" [(ngModel)]="string__type_equipment_introduced"/>
          </div>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindow('type_of_equipment')">Отмена</button>
            <button (click)="sendingDataAboutAddingATypeOfEquipment();hidingTheModalWindow('type_of_equipment')">Добавление</button>
          </div>
        </div>
        <div
          class="div__modal_window_for_adding_equipment_to_employees"
          [style]="{display:open__modal_menu__employee_equipment}"
        > <!-- Модальное окно для соотношения техники с сотрудниками -->
          <div
            class="div__employee_selection_background"
          >
            <select [(ngModel)]="string__selected_employee">
              <option value="" hidden disabled selected>ФИО сотрудника</option>
              @for ( elem of array__staff; track $index ) {
                <option value="{{ elem.id }}">{{ elem.fcs }}</option>
              }
            </select>
          </div>
          <div
            class="div__the_substrate_of_the_choice_of_technique"
          >
            <select [(ngModel)]="number__id_selected_equipment">
              <option value="" hidden disabled selected>Наименование техники</option>
              @for ( elem of array__technic; track $index ) {
                <option value="{{ elem.id }}">{{ elem.name }}</option>
              }
            </select>
          </div>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindow('employee_equipment')">Отмена</button>
            <button (click)="sendingDataToAddTheRatioOfAnEmployeeToATechnique();hidingTheModalWindow('employee_equipment')">Добавление</button>
          </div>
        </div>
        <div
          class="div__the_modal_window_for_the_successful_deletion"
          [style]="{display: string__show_deletion_window__employee}"
        >
          <h3>Сотрудник(ца) {{ string__FCs_employee_s }} успешно удален(на)!</h3>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindowForDeletingEmployees()">Отлично</button>
          </div>
        </div>
        <div
          class="div__the_modal_window_for_the_successful_deletion"
          [style]="{display: string__show_deletion_window__equipment}"
        >
          <h3>Техника {{ string__name_remote_equipment }} успешно удалена!</h3>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindowForDeletingEquipment()">Отлично</button>
          </div>
        </div>
        <div
          class="div__the_modal_window_for_the_successful_deletion"
          [style]="{display: string__show_deletion_window__type_of_technique}"
        >
          <h3>Тип техники {{ string__remote_type_equipment }} успешно удалён!</h3>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindowForDeletingATypeOfTechnique()">Отлично</button>
          </div>
        </div>
        <div
          class="div__the_modal_window_for_the_successful_deletion"
          [style]="{display: string__show_deletion_window__bundle}"
        >
          <h3>Техника {{ object__bundle.name }} у сотрудника(цы) {{ object__bundle.fcs }} успешна удалена!</h3>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheModalWindowForDeletingTheTechnicianEmployeeBundle()">Отлично</button>
          </div>
        </div>
        <div
          class="div__modal_editing_window"
          [style]="{display:string__show_editing_window__employee}"
        >
          <input placeholder="ФИО сотрудника" [(ngModel)]="object__edited_employee.fcs" />
          <input placeholder="Номер кабинета" [(ngModel)]="object__edited_employee.office" />
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheChangeWindow('staff')">Отмена</button>
            <button (click)="sendingChangesToTheEmployeesFullName();hidingTheChangeWindow('staff')">Отправить</button>
          </div>
        </div>
        <div
          class="div__modal_editing_window"
          [style]="{display:string__show_editing_window__equipment}"
        >
          <input placeholder="Наименование техники" [(ngModel)]="object__edited_technique.name" />
          <select [(ngModel)]="object__edited_technique.type">
            <option value="{{ object__edited_technique.type }}">{{ object__edited_technique.type }}</option>
            @for ( type of array__all_types_of_equipment; track $index ) {
              <option value="{{ type }}">{{ type }}</option>
            }
          </select>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheChangeWindow('technic')">Отмена</button>
            <button (click)="sendingChangesToTheEmployeesFullName();hidingTheChangeWindow('staff')">Отправить</button>
          </div>
        </div>
        <div
          class="div__modal_editing_window"
          [style]="{display: string__show_editing_window__type_of_technique}"
        >
          <input placeholder="Наименование типа техники" [(ngModel)]="object__edited_type_of_equipment.type" />
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheChangeWindow('type_of_equipment')">Отмена</button>
            <button (click)="sendingAModifiedTypeOfEquipment();hidingTheChangeWindow('type_of_equipment')">Отправить</button>
          </div>
        </div>
        <div
          class="div__modal_editing_window"
          [style]="{display:string__show_editing_window__bundle}"
        >
          <select [(ngModel)]="object__edited_bundle.fcs">
            <option value="{{ object__edited_bundle.fcs }}">{{ object__edited_bundle.fcs }}</option>
            @for ( fcs of array__full_name_of_all_employees; track $index ) {
              <option value="{{ fcs }}">{{ fcs }}</option>
            }
          </select>
          <select [(ngModel)]="object__edited_bundle.name">
            <option value="{{ string__employee_s_current_equipment }}">{{ string__employee_s_current_equipment }}</option>
            @for ( name of array__all_names_of_equipment; track $index ) {
              <option value="{{ name }}">{{ name }}</option>
            }
          </select>
          <div
            class="div__the_background_of_the_control_buttons"
          >
            <button (click)="hidingTheChangeWindow('employee_equipment')">Отмена</button>
            <button (click)="sendingAnEditedEmployeeTechnicianBundle();hidingTheChangeWindow('employee_equipment')">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>